/*General*/
*{
    margin:0;
    font-family: 'Libre Franklin', sans-serif;
    box-sizing: border-box;
}
:root{
    --Gray: hsl(0, 0%, 59%);
    --Blue: hsl(223, 87%, 63%);
    --PaleBlue: hsl(223, 100%, 88%);
    --Red:hsl(354, 100%, 66%);
    --DarkBlue: hsl(209, 33%, 12%);
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100vh;
}
img{
    width:100%;
    height:100%;
}

.section1,.section2,.section3,.top_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:20px;
}
/*Heading*/

/*Section 1*/
.section1{
    width:70%;
}
.logo{
    margin:20px;
}

h1{
    font-size: 3.5rem;
}
h1 span{
    font-weight: 300;
    color:var(--Gray);
}
.top_container p{
    margin-top:10px;
    color: var(--Gray);
}
.section1 p{
    font-weight: 600;
}
.middle_container{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    
   
}
.middle_container input,button{
 
    margin: 10px;
    border-radius: 2rem;
    font-size: 20px;
   
}
.middle_container input{
    height: 3.5rem;
    width: 100%;
    padding-left: 1.5rem;
    font-size: 20px;
    border:1px solid var(--PaleBlue);
    
}
.middle_container input::placeholder{
    color: var(--PaleBlue);
}
.input_div{
    width:50%;
}
.input_div p{
    display:none;
}
.middle_container input:active{
    border: 1px solid var(--Red);
}
.middle_container input:hover +.hide {
    color:var(--Red);
    display: block;
    padding-left: 1.5rem;
    font-weight: 300;
}
.middle_container input:hover{
    border: 1px solid var(--Red);
}
button{
    height: 4rem;
    width:25%;
    font-weight: 700;
    color: white;
    background-color: var(--Blue);
    border: none;
    box-shadow: 4px 4px 8px 2px var(--Gray);
    cursor: pointer;
}

/*Section 2*/
.section2{
    width:50%;
    height:50%;
}
/*Section 3*/
.section3{
    margin-bottom: 0;
}
ion-icon{
    margin: 20px;
    color:var(--Blue);
}

ion-icon:hover{
    color:var(--DarkBlue);
}
.section3 p{
    font-size: 1rem;
    font-weight: 300;
    color: var(--Gray);
}

@media(max-width:375px) {
    body{
        justify-content: space-evenly;
    }

    .section1{
        width:90%;
    }
    .section1 h1{
        font-size: 1.5rem;
    }
    .middle_container{
        flex-direction: column;
        width:100%;
    }
    .middle_container input,.middle_container button, .input_div{
        width:100%;
        margin-left: 0;
        
    }
    .section2{
        width:90%;
        height:20%;
    }
    footer{
        font-size: 0.8rem;
    }
}